{% extends 'layout.html' %}
{% load static %}
{% block content %}



<title>AboutUs</title>
<div class="w-100 text-center">
    <img class="w-100" src="{% static 'img/aboutbg.jpg' %}" />
    <div style="position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);"><h1 class="mbr-fonts-style display-2 text-light">About Us</h1>
  <h5 class="text-light mt-5">"If one day my words conflict with science, choose science." -Mustafa Kemal ATATÜRK</h5>
  </div>
</div>
<div class="jumbotron jumbotron-fluid w-100 mb-0 text-center" style="
    background-image: url('{% static 'img/backgroundimg.jpg' %}');">
    <h1 class="mbr-fonts-style display-2 text-light">Meet with Us</h1>
    <i class="display-2 text-light bi bi-chevron-down"></i>
</div>




<div class="jumbotron jumbotron-fluid w-100 mb-0" style="background-image: linear-gradient(to top right, rgba(149,191,136), rgba(133,214,209));">
    <div class="row">
        <div class="col-4 text-center">
            <img class="d-block w-50 h-100 rounded-circle m-auto" src="{% static 'img/utku1.jpg' %}" alt="First slide" style="border:2px solid white;">

        </div>
        <div class="col-8 text-center">
           <h1 class="mbr-fonts-style display-5 text-light">Utku Aydogdu</h1>
           <div class="text-center text-light mt-5 mr-5">
                <p>I was born on January 17, 2001. I started my school life at the age of 5 and I first went to kindergarten. Later, I graduated from secondary school in 2015. I won Beşiktaş Anatolian High School. After studying here for 4 years, I took the YKS exam and qualified to enter the Uludağ University Computer Engineering department. I am currently studying in the second year of the university.</p>
                
           </div>

        </div>
        <div class="row w-100 d-flex justify-content-around flex-wrap" style="border-top:solid 2px white;">
            <div class="row mt-4 text-light">
                
                <div class="col-md-4 col-xs-12 ">
                    <h2><i class="bi bi-twitter"></i></h2>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-instagram"></i></h2> 
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-envelope-fill"></i></h2>
                </div>

            </div>
        </div>
    </div>
    
</div>





<div class="jumbotron jumbotron-fluid w-100 mb-0 text-center" style="
    background-image: url('{% static 'img/backgroundimg.jpg' %}');">
    <h1 class="mbr-fonts-style display-2 text-light mb-5"><i class="bi bi-chevron-expand"></i></h1>
</div>







<div class="jumbotron jumbotron-fluid w-100 mb-0" style="background-image: linear-gradient(to top left, rgba(233,131,243), rgba(131,226,243));">
    <div class="row">
        <div class="col-8 text-center">
           <h1 class="mbr-fonts-style display-5 text-light">Kagan Korkmaz</h1>
            <div class="text-center text-light mt-5 ml-5">
                <p>Hi , I am Kağan ! I was born in Manisa soma in July 2001 . I started my education life in Zübeyde Hanım Primary School and continued in Soma Science High School.
                    And in 2020, ı won the Computer Engineering Department of Uludağ University.
                    I contributed to the construction of our Ulu-con web site, which we offer for you as a project task at my university, where I studied as a second year student. I hope we were able to provide you convenience.</p>
                
           </div>
        </div>
        <div class="col-4 text-center">
            <img class="d-block w-50 h-100 rounded-circle m-auto" src="{% static 'img/kagan.jpg' %}" alt="First slide" style="border:2px solid white;">

        </div>
        
    </div>
    <div class="row w-100 d-flex justify-content-around flex-wrap" style="border-top:solid 2px white;">
            <div class="row mt-4 text-light">
                
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-twitter"></i></h2>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-instagram"></i></h2> 
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-envelope-fill"></i></h2>
                </div>

            </div>
        </div>
</div>





<div class="jumbotron jumbotron-fluid w-100 mb-0 text-center" style="
    background-image: url('{% static 'img/backgroundimg.jpg' %}');">
    <h1 class="mbr-fonts-style display-2 text-light mb-5"><i class="bi bi-chevron-expand"></i></h1>
</div>






<div class="jumbotron jumbotron-fluid w-100 mb-0" style="background-image: linear-gradient(to bottom right, rgba(151,109,179), rgba(116,178,104));">
    <div class="row">
        <div class="col-4 text-center">
            <img class="d-block w-50 h-100 rounded-circle m-auto" src="{% static 'img/harun.jpg' %}" alt="First slide" style="border:2px solid white;">

        </div>
        <div class="col-8 text-center">
           <h1 class="mbr-fonts-style display-5 text-light">Hamza Harun Ercul</h1>
            <div class="text-center text-light mt-5 mr-5">
                <p>Hi , I am Harun ! I was born in Türkmenistan, Aşkabat in May 2001 . I started my education life in Doğa  Primary School and continued in Doğa Science High School.
And in 2020, ı won the Computer Engineering Department of Uludağ University.
I contributed to the construction of our Ulu-con web site, which we offer for you as a project task at my university, where I studied as a second year student. 
I hope we were able to provide you convenience. 
All of our friends worked hard for our project, I hope you like it.
Regards.</p>
                
           </div>
        </div>
    </div>
    <div class="row w-100 d-flex justify-content-around flex-wrap" style="border-top:solid 2px white;">
            <div class="row mt-4 text-light">
                
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-twitter"></i></h2>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-instagram"></i></h2> 
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-envelope-fill"></i></h2>
                </div>

            </div>
        </div>
</div>





<div class="jumbotron jumbotron-fluid w-100 mb-0 text-center" style="
    background-image: url('{% static 'img/backgroundimg.jpg' %}');">
    <h1 class="mbr-fonts-style display-2 text-light mb-5"><i class="bi bi-chevron-expand"></i></h1>
</div>






<div class="jumbotron jumbotron-fluid w-100 mb-0" style="background-image: linear-gradient(to bottom right, rgba(248,125,125), rgba(190,194,113));">
    <div class="row">
        <div class="col-8 text-center">
           <h1 class="mbr-fonts-style display-5 text-light">Fatih Emin Karahan</h1>
            <div class="text-center text-light mt-5 ml-5">
                <p>Hi, I am Fatih! I was born in Muğla Fethiye in May 2001.
I started my education life in Gazi Primary School and continued in
Fethiye Belediye Science High School. After the high school 
I'm start Computer Engineering Department of Uludağ University. I contributed to the construction of our Ulu-con web site, which we offer for you as a project task at my university, where I studied as a second year student. I hope we were able to provide you convenience.</p>                
           </div>
        </div>
        <div class="col-4 text-center">
            <img class="d-block w-50 h-100 rounded-circle m-auto" src="{% static 'img/fatih.jpg' %}" alt="First slide" style="border:2px solid white;">

        </div>
        
    </div>
    <div class="row w-100 d-flex justify-content-around flex-wrap" style="border-top:solid 2px white;">
            <div class="row mt-4 text-light">
                
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-twitter"></i></h2>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-instagram"></i></h2> 
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-envelope-fill"></i></h2>
                </div>

            </div>
        </div>
</div>






<div class="jumbotron jumbotron-fluid w-100 mb-0 text-center" style="
    background-image: url('{% static 'img/backgroundimg.jpg' %}');">
    <h1 class="mbr-fonts-style display-2 text-light mb-5"><i class="bi bi-chevron-up"></i></h1>
</div>
{% endblock %}