<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css">
<footer>
    <div class="py-3 text-light" style="background-color:#484848;">
        <div class="container d-flex justify-content-around flex-wrap">
            <div class="row ">
                
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-twitter"></i></h2>
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-instagram"></i></h2> 
                </div>
                <div class="col-md-4 col-xs-12">
                    <h2><i class="bi bi-envelope-fill"></i></h2>
                </div>

            </div>
        </div>

    </div>
    <div class="py-3 text-light bg-dark">
        
        <div class="container ">
            <div class="row d-flex justify-content-around flax-wrap">
                <div class="col-md-4 col-xs-12">
                    <div class="first">
                        <h4 style="border-bottom: solid #7e7e7e 1px;">Converters</h4><br />

                        <p><a href="converters/exchangeconv"  class="text-light"> <i class="bi bi-caret-right"></i> Exchange</a></p>
                        <p><a href="converters/lengthconv"  class="text-light"><i class="bi bi-caret-right"></i> Length</a></p>
                        <p><a href="converters/capacityconv"  class="text-light"><i class="bi bi-caret-right"></i> Capacity</a></p>
                        <p><a href="converters/heatconv"  class="text-light"><i class="bi bi-caret-right"></i> Temperature</a></p>


                    </div>

                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="second">
                        <h4 style="border-bottom: solid #7e7e7e 1px;">Navigate</h4><br />
                        <p><a href="/" class="text-light"> <i class="bi bi-house-fill"></i> Home</a></p>
                        <p><a href="about" class="text-light"> <i class="bi bi-file-person-fill"></i> About Us</a></p>
                        <p><a href="livecurrency" class="text-light"> <i class="bi bi-circle"></i> Live Exchange Rates</a></p>
                        
                    </div>

                </div>
                <div class="col-md-4 col-xs-12">
                    <div class="third">
                        <h4 style="border-bottom: solid #7e7e7e 1px;">Contact Us <i class="bi bi-envelope"></i></h4><br />
                        <p> Utku Aydogdu</p><p class="text-muted"><i class="bi bi-arrow-return-right"></i> 031990044@ogr.uludag.edu.tr</p><br />
                        <p> Kagan Korkmaz</p><p class="text-muted"><i class="bi bi-arrow-return-right"></i> 031990062@ogr.uludag.edu.tr</p><br />
                        <p> Fatih Emin Karahan</p><p class="text-muted"><i class="bi bi-arrow-return-right"></i> 031990076@ogr.uludag.edu.tr</p><br />
                        <p> Hamza Harun Ercul</p><p class="text-muted"><i class="bi bi-arrow-return-right"></i> 031990041@ogr.uludag.edu.tr</p><br />
                    </div>

                </div>
            </div>
        </div>
        <div class="container-fluid" style="border-top:solid #616161 1px;">
            <div class="copyright pt-2 d-flex justify-content-around flax-wrap text-muted">
                Copyright 2021 | All Rights Reserved by Uludag University Students.
            </div>
        </div>

    </div>
</footer>

