{% load static %}

<script>
$(document).ready(function(){
    $(".dropdown").hover(function(){
        var dropdownMenu = $(this).children(".dropdown-menu");
        if(dropdownMenu.is(":visible")){
            dropdownMenu.parent().toggleClass("open");
        }
    });
});


</script>

<header>
    <div 
        {% if 'about' in request.path %} 
        class="navbar navbar-expand-sm  p-3 navbar-dark fixed-top mb-0 bg-transparent text-green"
        {% else %}
        class="navbar navbar-expand-sm shadow p-3 navbar-dark fixed-top mb-0 bg-dark text-green"
        {% endif %}>  
    
     
        <div class="container">
            {% if 'about' in request.path %}
            <a href="{% url 'index' %}"class="navbar-brand w-25"><h1 class="nav-item mbr-fonts-style display-5  ">ULUCON</h1></a>
            
            {% else %}
            <a href="{% url 'index' %}" class="navbar-brand w-25">
                <img class="d-block w-100 h-100" src="{% static 'img/uluCon.png' %}" /></a>
            {%endif%}
            <ul class="navbar-nav mr-auto w-75">

                <li class="nav-item ml-5"
                    {% if request.path == '/' %}
                    style=" border-bottom: solid #5EE1F0 5px;" 
                    
                    {% else %}

                    
                    {% endif %}>

                    <a href="{% url 'index' %}" class="nav-link">
                        Home
                    </a>
                </li>

                <li class="nav-item ml-5"
                    {% if 'about' in request.path %}
                    class="nav-item active"
                    style=" border-bottom: solid #5EE1F0 5px;
"
                    {% else %}
                    class="nav-item"
                    {% endif %}>

                    <a href="{% url 'about' %}" class="nav-link">
                        Who we are?
                    </a>
                </li>

                <li class="nav-item dropdown ml-5"
                    {% if 'converters' in request.path %}
                        class="nav-item active"
                        style=" border-bottom: solid #5EE1F0 5px;
"
                    {% else %}
                        class="nav-item"
                    {% endif %}>

                    <a href="{% url 'converters' %}" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        Our Converters
                    </a>
                    <div class="dropdown-menu shadow">
                        <a href="{% url 'converters' %}" class="dropdown-item">See All Converters!</a>
                        <div class="dropdown-divider"></div>
                        <a href="converters/lengthconv" class="dropdown-item"><img class="rounded"style="height:35px; width:35px; margin-right:10px;" src="{% static 'img/length-unit.png' %}">Length Converter</a>
                        <a href="converters/capacityconv" class="dropdown-item"><img class="rounded"style="height:35px; width:35px; margin-right:10px;" src="{% static 'img/capacity.jpg' %}">Capacity Converter</a>
                        <a href="converters/heatconv" class="dropdown-item"><img class="rounded"style="height:35px; width:35px; margin-right:10px;" src="{% static 'img/heat-logo.jpg' %}">Temperature Converter</a>
                        <div class="dropdown-divider"></div>
                        <a href="converters/exchangeconv" class="dropdown-item"><img class="rounded"style="height:35px; width:35px; margin-right:10px;" src="{% static 'img/doviz-logo.jpg' %}">Exchange Converter</a>
                    </div>
                    
                </li>

                <li class="nav-item ml-5"
                    {% if 'livecurrency' in request.path %}
                    class="nav-item active"
                    style=" border-bottom:solid #5EE1F0 5px;"
                    {% else %}
                    class="nav-item"
                    {% endif %}>

                    <a href="{% url 'livecurrency' %}" class="nav-link text-light font-weight-bold">
                        &#128308; Real-Time Exchange Rates
                    </a>
                </li>

            </ul>
        </div>
    </div>
</header>